@import "./Variables";

.book-wrapper {
  position: relative;
  background-image: linear-gradient(
    70deg,
    rgba(0, 0, 0, 0.7) 40%,
    $color-primary
  );
  height: 100%;
  margin: 0 auto;
  .container {
    .r-book-wrapper {
      .row {
        .r-col-left {
          position: relative;
          background-color: $color-primary;
          .r-book-title {
            padding: 4rem;
          }
          .r-form {
            padding: 0 1rem;
          }
          .r-right {
            margin-top: 3rem;
            .r-right-checkbox {
              padding: 0 1.5rem 0 1.5rem;
              text-align: center;
            }
            .r-book-span {
              text-decoration: underline;
            }
            .r-book-btn {
              text-align: center;
              padding: 2rem 0;
              .tombol-book {
                color: white;
                background-color: black;
                &:hover {
                  color: $color-primary;
                }
              }
            }
          }
        }
        .r-col-right {
          display: none;
          position: relative;
          height: 45rem;
          margin: 8rem 0;
          background-color: black;
          .r-right-checkbox {
            padding: 33rem 6rem 0;
          }
          .r-book-span {
            text-decoration: underline;
          }
          .r-book-btn {
            text-align: center;
            margin: 2rem 0;
          }
        }
      }
    }
  }
}
// @media (min-width: 768px) {
//   .book-wrapper {
//     position: relative;
//     background-image: linear-gradient(
//       70deg,
//       rgba(0, 0, 0, 0.7) 40%,
//       $color-primary
//     );
//     height: 100vh;
//     margin: 0 auto;
//     .container {
//       .r-book-wrapper {
//         .row {
//           .r-col-left {
//             position: relative;
//             background-color: $color-primary;
//             .r-book-title {
//               padding: 4rem;
//             }
//             .r-form {
//               padding: 0 1rem;
//             }
//             .r-right {
//               margin-top: 3rem;
//               .r-right-checkbox {
//                 padding: 0 1.5rem 0 1.5rem;
//                 text-align: center;
//               }
//               .r-book-span {
//                 text-decoration: underline;
//               }
//               .r-book-btn {
//                 text-align: center;
//                 padding: 2rem 0;
//                 .tombol-book {
//                   color: white;
//                   background-color: black;
//                   &:hover {
//                     color: $color-primary;
//                   }
//                 }
//               }
//             }
//           }
//           .r-col-right {
//             position: relative;
//             height: 45rem;
//             margin: 8rem 0;
//             background-color: black;
//             .r-right-checkbox {
//               padding: 33rem 6rem 0;
//             }
//             .r-book-span {
//               text-decoration: underline;
//             }
//             .r-book-btn {
//               text-align: center;
//               margin: 2rem 0;
//             }
//           }
//         }
//       }
//     }
//   }
// }

@media (min-width: 992px) {
  .book-wrapper {
    position: relative;
    background-image: linear-gradient(
      70deg,
      rgba(0, 0, 0, 0.7) 40%,
      $color-primary
    );
    height: 100%;
    margin: 0 auto;
    .container {
      .r-book-wrapper {
        .row {
          .r-col-left {
            position: relative;
            background-color: $color-primary;
            border-radius: 30px/90px;
            height: 45rem;
            margin: 8rem 0;
            border-radius: 7rem/40rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: 46rem;
            z-index: 1;
            .r-book-title {
              padding: 4rem;
            }
            .r-form {
              padding: 0 4rem;
            }
            .r-right {
              display: none;
            }
          }
          .r-col-right {
            display: block;
            position: relative;
            height: 45rem;
            margin: 8rem 0;
            background-color: black;
            .r-right-checkbox {
              padding: 33rem 2rem 0 7.3rem;
            }
            .r-book-span {
              text-decoration: underline;
            }
            .r-book-btn {
              text-align: center;
              margin: 2rem 0;
            }
          }
        }
      }
    }
  }
}
