@import "theme_color";

.checkout_details_area form .form-control {
  height: 60px;
  // border: 2px solid $head-button;
  border-radius: 0;
  background-color: $bg-color;
  padding: 30px;
  font-size: 14px;
  margin-top: 10px;
}

.main-content-wrapper .cart-table-area {
  position: relative;
  flex: 100% 1;
  width: 100%;
  max-width: 100%;
  padding: 0px;
}

.row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
