@import "./Variables";

.detail {
  background: $color-secondary-3;
  padding: 2% 0;
  .detail-title {
    text-align: center;
    color: yellow;
    font-size: 4rem;
  }
  .detail-row {
    background-color: $color-secondary-3;
    .detail-col-right {
      border-radius: 50px;
      text-align: center;
      .detail-img {
        padding: 4% 0;
        box-shadow: 4% 2% 4% white;
      }
      .detail-img {
        width: 50%;
      }
    }
    .detail-col-left {
      .detail-content {
        display: flex;
        justify-content: space-around;
        color: white;
        .detail-contain-h {
          color: yellow;
          text-transform: uppercase;
        }
        .detail-contain-p {
          color: white;
          text-align: center;
        }
      }
      .detail-desc {
        text-align: center;
        padding: 5% 2%;
        .detail-contain-desc {
          color: yellow;
        }
        .detail-contain-p {
          color: white;
        }
      }
    }
  }
}
