@import "./Variables";

.main-footer {
  position: absolute;
  width: 100%;
  background-color: $color-secondary-1;
  background-image: -webkit-linear-gradient(
    -28deg,
    $color-secondary-1 0%,
    $color-secondary-1 60%,
    #292423 60%,
    #292423 60%
  );
  background-image: linear-gradient(
    -28deg,
    $color-secondary-1 0%,
    $color-secondary-1 60%,
    #292423 60%,
    #292423 60%
  );
  .footer-box {
    margin: auto;

    .footer-row {
      text-align: center;
      .footer-col {
        .footer-title {
          color: $color-primary;
          font-size: 16px;
        }
        .footer-logo-1 {
          width: 200px;
          margin: 10px 50px;
        }
        .footer-logo {
          width: 120px;
          margin: 10px 3px;
        }
        .list-unstyled {
          text-align: center;
          display: flex;
          justify-content: space-around;
          .footer-li {
            margin-bottom: 5px;
            font-size: 12px;
            .footer-a {
              color: white;
              font-size: 1rem;
            }
            .footer-sosmed {
              margin-right: 5px;
            }
          }
        }
        .footer-img-download {
          display: flex;
          justify-content: space-evenly;
          margin: auto;
        }
      }
    }
  }
  .footer-bottom {
    text-align: center;
    margin: 30px 0;
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  .main-footer {
    .footer-box {
      padding: 50px 0;
      .footer-row {
        text-align: start;
        .footer-col {
          .footer-title {
            color: $color-primary;
          }
          .footer-logo-1 {
            width: 12.5rem;
            margin: 10px 50px;
          }
          .footer-logo {
            width: 150px;
            margin: 10px 0;
          }
          .list-unstyled {
            text-align: start;
            display: flex;
            flex-direction: column;
            .footer-li {
              margin-bottom: 5px;
              .footer-a {
                color: white;
              }
              font-size: 18px;
              .footer-sosmed {
                margin-right: 5px;
              }
            }
          }
          .footer-img-download {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
    .footer-bottom {
      text-align: center;
      margin: 30px 0;
      font-size: 18px;
    }
  }
}
