@import "./Variables.scss";

.fp {
  background-color: $color-secondary-3;
  height: 100vh;
  margin: auto;
  text-align: center;
  .fp-box {
    color: $color-dark-2;
    .fp-heading {
      margin: 40px 0;
      font-size: 30px;
      color: $text-color;
    }
    .fp-img {
      width: 60%;
      margin-top: 40%;
    }
  }
  .fp-form {
    margin: 20px 0px;
    .fp-form-input {
      padding: 15px;
      width: 90%;
      border: 1px solid $color-secondary-3;
      border-radius: 50px;
      border-style: dotted;
    }
  }
}

@media (min-width: 992px) {
  .fp {
    background-color: $color-secondary-3;
    height: 150vh;
    margin: auto;
    text-align: center;
    .fp-box {
      color: $color-dark-2;
      .fp-img {
        width: 40%;
        margin-top: 10%;
      }
    }
    .fp-form {
      margin: 20px 0px;
      .fp-form-input {
        padding: 15px;
        width: 40%;
        border: 1px solid $color-secondary-3;
        border-radius: 50px;
        border-style: dotted;
      }
    }
  }
}
