@import "./Variables";

.invo-box {
  padding: 0;
  .invoice-header {
    background-color: $color-secondary-1;
    border: 1px solid;
    .invoice-box-head {
      .invoice-img {
        width: 210px;
      }
    }
  }
  .invoice-boxtwo {
    background-color: $color-dark-1;
    padding: 10px 20px;
    .invoice-boxtwo-t {
      color: $color-secondary-3;
      padding: 20px 0;
    }
    .invoice-row {
      .invoice-col-right {
        background-color: $color-secondary-1;
        .card-title {
          color: $color-dark-2;
        }
      }
      .invoice-col-left {
        background-color: $color-secondary-1;
        .card-title {
          color: $color-dark-2;
        }
      }
    }
    .invoice-card-box {
      margin: 20px 0;
      .invoice-card-title {
        color: $color-dark-2;
      }
    }
  }
}

@media (min-width: 992px) {
  .invo-box {
    margin: 20px 0;
    .invoice-header {
      background-color: $color-secondary-1;
      border: 1px solid;
      .invoice-box-head {
        display: flex;
        justify-content: space-between;
        .invoice-img {
          width: 210px;
        }
      }
    }
    .invoice-boxtwo {
      background-color: $color-dark-1;
      padding: 10px 20px;
      .invoice-boxtwo-t {
        color: $color-secondary-3;
        padding: 20px 0;
      }
      .invoice-row {
        .invoice-col-right {
          background-color: $color-secondary-1;
          .card-title {
            color: $color-dark-2;
          }
        }
        .invoice-col-left {
          background-color: $color-secondary-1;
          .card-title {
            color: $color-dark-2;
          }
        }
      }
      .invoice-card-box {
        margin: 20px 0;
        .invoice-card-title {
          color: $color-dark-2;
        }
      }
    }
  }
}
