@import "theme_color";

.single-product-wrapper .product-description {
  position: relative;
  z-index: 1;
  margin-top: 0px;
  padding: 10px;
  height: 100px;
}

.single-product-wrapper .product-description .product-meta-data .line {
  width: 80px;
  height: 3px;
  background-color: $head-button;
  margin-bottom: 10px;
  margin-top: -35px;
  display: block;
}

.ratings i {
  font-size: 15px;
  color: $head-button;
}

.content {
  position: relative;
  flex: 100%;
  padding: 50px;
  @media (max-width: 767.98px) {
    padding: 0px;
  }
}

.row1 {
  display: flex;
  flex-wrap: wrap;
}

.ratings {
  position: relative;
  padding: 10px 15px;
}

i.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $bg-over;
  position: absolute;
  z-index: 100;
  top: -15px;

  &.left {
    left: -15px;
  }
  &.right {
    right: -15px;
  }
}

.single-product-wrapper .product-img {
  position: relative;
  z-index: 1;
  overflow: hidden;
  border-bottom: 2px dashed $bg-over;
}

.single-product-wrapper .product-img img {
  width: 100%;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  height: 220px;
  @media (max-width: 767.98px) {
    height: 210px;
  }
}

// .single-product-wrapper {
//   @media (max-width: 575.98px) {
//     background-color: red;
//   }
//   @media (min-width: 576px) and (max-width: 767.98px) {
//     background-color: blue;
//   }
//   @media (min-width: 768px) and (max-width: 991.98px) {
//     background-color: aqua;
//   }
//   @media (min-width: 992px) and (max-width: 1199.98px) {
//     background-color: yellow;
//   }
//   @media (min-width: 1200px) {
//     background-color: grey;
//   }
// }
