@import "theme_color";

.main-content-wrapper .cart-table-area .cart-summary {
  background-color: $bg-color;
  margin-top: 118px;
  position: relative;
  z-index: 1;
  padding: 30px 20px;
}

.main-content-wrapper .cart-table-area .cart-summary h5 {
  font-size: 18px;
  margin-bottom: 0;
  color: $text-color;
}

.main-content-wrapper .cart-table-area .cart-summary .summary-table li span {
  color: $text-color;
  font-size: 14px;
}
